@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--bs-body-color) var(--bs-body-bg);
}

.border-dashed {
  --bs-border-style: dashed;
}

.b-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.black-and-white {
  filter: grayscale(100%);
  transition: filter 0.5s;
}
.black-and-white:hover {
  filter: grayscale(0%);
}

.border-body {
  border-color: var(--bs-body-color) !important;
}

.profile-photo {
  background-image: url("../img/img4.jpg");
  border-color: var(--bs-body-color) !important;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: clamp(17.5rem, 14.375rem + 15.625vi, 21.875rem);
  height: clamp(17.5rem, 14.375rem + 15.625vi, 21.875rem);
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  position: relative;
  transition: all 1s ease-in-out;
}
.profile-photo:hover {
  scale: 1.03;
  border-color: var(--bs-secondary-color) !important;
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

.custom-col {
  max-width: 50rem;
}
.custom-col h1 {
  font-size: 5.5rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
@media (max-width: 680px) {
  .custom-col h1 {
    font-size: clamp(3rem, 1.5rem + 7.5vi, 4.6875rem);
  }
}
.custom-col p {
  font-size: 18px;
  font-weight: 500;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}
@media (max-width: 900px) {
  .custom-col p {
    margin-bottom: 5rem;
  }
}

@keyframes scroll {
  to {
    translate: -80rem;
  }
}
.carousel {
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 10rem;
  justify-items: stretch;
  animation: scroll 20s linear infinite;
}

.max-width-1 {
  max-width: 1100px;
}

.max-width-icon {
  max-width: 80px;
  margin-bottom: 5px;
}

.card-hover {
  box-sizing: border-box;
  background: var(--bs-body-bg);
  border: 1px dashed var(--bs-body-bg);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 17px;
  transition: all 0.5s;
  color: var(--bs-body-color);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}
.card-hover:hover {
  border: 1px dashed var(--bs-body-color);
  transform: scale(1.05);
}/*# sourceMappingURL=style.css.map */